.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-logo {
    margin: 5px;
    margin-left: 0;
    height: 50px;
    width: 200px;
}

.navbar-title {
    padding-left: 60px;
    text-decoration: none;
    font-size: 20px;
   
}

  